# EDA Lab 1
For this lab, you'll get to explore the cardio dataset on your own. More information can be found about this dataset here: 
https://www.kaggle.com/sulianova/cardiovascular-disease-dataset#cardio_train.csv

## Download Dataset
This dataset is located in the Datasets folder of our GitHub repo. Make sure to pull the repo for any changes. 
You may need to update the file path below, depending on where you downloaded the repo on your computer:

In [53]:
import pandas as pd
cardio = pd.read_csv("../../Datasets/cardio_train.csv", sep=",")

In [27]:
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,male,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,female,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,female,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,male,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,female,156,56.0,100,60,1,1,0,0,0,0

## One Hot Encode Gender Column
We're going to take a look at the effect of gender on cardiovascular disease. Before we can do that, we'll need to one-hot-encode the gender column using pandas get_dummies(). 

First we'll need to create the encoding columns for male and female:

In [32]:
# first encode the categories for male and female
one_hot = # use get_dummies() to one hot encode the gender column

In [33]:
one_hot.head()

   female  male
0       0     1
1       1     0
2       1     0
3       0     1
4       1     0

Now we'll need to concat the encodings back to the original dataframe:

In [37]:
one_hot_df = # use the concat function to add the encodings back to the dataframe

In [38]:
one_hot_df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,female,male
0,0,18393,male,168,62.0,110,80,1,1,0,0,1,0,0,1
1,1,20228,female,156,85.0,140,90,3,1,0,0,1,1,1,0
2,2,18857,female,165,64.0,130,70,3,1,0,0,0,1,1,0
3,3,17623,male,169,82.0,150,100,1,1,0,0,1,1,0,1
4,4,17474,female,156,56.0,100,60,1,1,0,0,0,0,1,0

## Manually Encode Column
Since there are only two categoreis we need to convert, male and female, we can also approach this in a different way by turning the gender column into a binary column where: 
- 0 = female
- 1 = male

In [39]:
cardio.loc[cardio.gender == "female", 'gender'] = 0

In [41]:
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,male,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,0,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,0,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,male,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,0,156,56.0,100,60,1,1,0,0,0,0

Using the code above, convert male entries in the gender column to the integer 1.

In [44]:
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,1,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,0,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,0,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,1,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,0,156,56.0,100,60,1,1,0,0,0,0

## Bin Weight Column
Rather than looking at age, as we did in our walk-through, this time we'll take a look at the effect of weight. Let's examine the weight distribution to get a better idea of how we can break up the bins. 

Since America just doesn't want to step away from the empirical system (/rant over), we'll need to convert the weight from kilograms to pounds. Use the following formula to convert the weight column from pounds to kilograms: `lb = kg * 2.2046`. 

Make sure to round and convert to an integer.

In [54]:
cardio['weight'] = # multiply kilograms in the weight column by 2.2046

In [55]:
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,male,168,137,110,80,1,1,0,0,1,0
1,1,20228,female,156,187,140,90,3,1,0,0,1,1
2,2,18857,female,165,141,130,70,3,1,0,0,0,1
3,3,17623,male,169,181,150,100,1,1,0,0,1,1
4,4,17474,female,156,123,100,60,1,1,0,0,0,0

Now let's look at the distribution using the describe function on the weight column:

In [56]:
# use describe to examine the weight distribution

count    70000.000000
mean       163.556686
std         31.740294
min         22.000000
25%        143.000000
50%        159.000000
75%        181.000000
max        441.000000
Name: weight, dtype: float64

In [58]:
cardio[cardio.weight == 22]

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
57858,82567,18804,male,165,22,180,1100,2,2,0,0,1,1

Clearly we have some outliers. For now let's just pretend like it's completely normal to be a 51 year old man who weights 22 pounds and we will deal with this when we get to outlier detection.

## Bin the weight column
Let's keep things easy by binning our weight column into 50 pound buckets, starting with 100 and including up to 250. Create a list of bins in this range:

In [69]:
bins = # use the range function to create bins

In [70]:
bins

[100, 150, 200, 250]

Create a list of labels for your bins:

In [72]:
pd.cut(cardio.weight, bins).unique()

[(100.0, 150.0], (150.0, 200.0], (200.0, 250.0], NaN]
Categories (3, interval[int64]): [(100, 150] < (150, 200] < (200, 250]]

Now create a column of labels for each row using the pandas cut function:

In [73]:
labels = # create a list of labels here

In [77]:
cardio["weight_bins"] = # use the cut function with your bins and labels

In [78]:
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,weight_bins
0,0,18393,male,168,137,110,80,1,1,0,0,1,0,100-150
1,1,20228,female,156,187,140,90,3,1,0,0,1,1,150-200
2,2,18857,female,165,141,130,70,3,1,0,0,0,1,100-150
3,3,17623,male,169,181,150,100,1,1,0,0,1,1,150-200
4,4,17474,female,156,123,100,60,1,1,0,0,0,0,100-150

And now you can use [drop_na()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) to drop any rows where the weight_bins contain NaN values:

In [84]:
cardio = # use dropna() to remove rows outside of the range of our bins

## Examine Results
Now we can answer two important questionsa about our dataset. 

1) How many people in each weight bin have cardiovascular disease:

In [86]:
cardio.groupby(# column to group on)["column to operate on"].sum()

weight_bins
100-150    10795
150-200    18506
200-250     4855
Name: cardio, dtype: int64

2) How many men vs women have cardiovascular disease?

In [89]:
len(cardio[cardio.gender == 1])

44582

And how many men?

Does this seem like a reasonable way to measure this relationship?