# Merging DataFrames
Frequently in the real world, our data comes from many different sources, and we ned to combine it in order to get the information we need in one place. 

 
## 1. Determine who each employee's supervisor is
Merge df1 and df2 on a common column to determine the name of each employee's supervisor:

In [2]:
import pandas as pd

In [3]:
# employee dataframe
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df1

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [6]:
# supervisor dataframe
df2 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
df2

         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

In [ ]:
df3 = # fill this with your merge code

## 2. Find out each employee's annaual salary
[Look up the arguments](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) that you can pass to the merge function to merge two tables that don't share any common column names:

In [15]:
df4 = df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
df4

   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

In [ ]:
df5 = # merge df3 and df4 here

## 3. Calculate Average Salaries by Department
Use the groupby function to group the dataframe by department (group) and calculate the mean salary for each group:

## 4. Normalize the salaries for each group
Apply the following normalization function to each department's salary:

In [39]:
def norm_by_data2(x):
    # x is a row in your groupby object
    x['salary'] /= x['salary'].sum()
    return x