## Handle Missing Values

### Introduce Missing Values
We're going to download the Iris dataset from sklearn and introduce some of our own NaN values. Run the code below:

In [6]:
from sklearn import datasets
import pandas as pd
import numpy as np
%matplotlib inline

# import iris dataset
iris = datasets.load_iris()
iris_df = pd.DataFrame(iris.data)
iris_df.columns = ["SEPAL_LENGTH", "SEPAL_WIDTH", "PETAL_LENGTH", "PETAL_WIDTH"]
iris_df.loc[150] = [np.NaN, np.NaN, np.NaN, np.NaN] # adding a row of null values
iris_df.loc[151]= [np.NaN, np.NaN, 0, 5.5] # adding a row with some null values

iris_df.tail()

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8
150           NaN          NaN           NaN          NaN
151           NaN          NaN           0.0          5.5

### Remove Rows with Missing Values

### Remove all columns with missing values

### Remove rows that contain all null values

## Remove all rows that contain at least three null values
Wait! You didn't teach us that! That's right, I also want you to practice your googling skills. Try doing a google search for "pandas remove rows with more than two missing values"

### Imputation: Replace Missing Values with Mean
First replace the missing values with the data frame mean:

Now replace the nulls in each column with the column mean. You might have to do some more googling.