In [79]:
from sklearn import datasets
import pandas as pd
import numpy as np
%matplotlib inline

# import iris dataset
iris = datasets.load_iris()
iris_df = pd.DataFrame(iris.data)
iris_df.columns = ["SEPAL_LENGTH", "SEPAL_WIDTH", "PETAL_LENGTH", "PETAL_WIDTH"]
iris_df.loc[150] = [np.NaN, np.NaN, np.NaN, np.NaN] # adding a row of null values
iris_df.loc[151]= [np.NaN, np.NaN, 0, 5.5] # adding a row with some null values
iris_df.loc[152]= [np.NaN, np.NaN, 0, 5.5] # adding a row with some null values
iris_df.loc[153] = [np.NaN, np.NaN, np.NaN, 5.6] # adding a row of null values
iris_df["TEST"] = np.nan # adding column of nan's to remove

iris_df.tail()

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH  TEST
149  5.9           3.0          5.1           1.8         NaN
150 NaN           NaN          NaN           NaN          NaN
151 NaN           NaN           0.0           5.5         NaN
152 NaN           NaN           0.0           5.5         NaN
153 NaN           NaN          NaN            5.6         NaN

In [117]:
iris_df.head()

   SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH  TEST
0  5.1           3.5          1.4           0.2         NaN
1  4.9           3.0          1.4           0.2         NaN
2  4.7           3.2          1.3           0.2         NaN
3  4.6           3.1          1.5           0.2         NaN
4  5.0           3.6          1.4           0.2         NaN

In [121]:
iris_df.dropna(thresh=3, axis=1).tail()

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH
149  5.900000      3.0          5.1           1.8
150  5.843333     NaN          NaN           NaN
151  5.843333     NaN           0.0           5.5
152  5.843333     NaN           0.0           5.5
153  5.843333     NaN          NaN            5.6

In [107]:
import copy
df4 = copy.deepcopy(iris_df)

In [66]:
iris_df = iris_df.drop("TEST", axis=1)

In [69]:
iris_df = iris_df.dropna(thresh=2, axis=0)

In [108]:
iris_df["SEPAL_LENGTH"]= iris_df.SEPAL_LENGTH.fillna(iris_df["SEPAL_LENGTH"].mean())

In [102]:
iris_df.SEPAL_LENGTH.fillna(iris_df["SEPAL_LENGTH"].mean(), inplace=True)

   SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH  TEST
0  5.1           3.5          1.4           0.2         NaN
1  4.9           3.0          1.4           0.2         NaN
2  4.7           3.2          1.3           0.2         NaN
3  4.6           3.1          1.5           0.2         NaN
4  5.0           3.6          1.4           0.2         NaN

In [132]:
iris_df.SEPAL_LENGTH.mean()

5.8433333333333355

In [ ]:
iris_df.SEPAL_LENGTH(iris_df.SEPAL_LENGTH.mean(), inplace=True)