In [79]:
from sklearn import datasets
import pandas as pd
import numpy as np
%matplotlib inline

# import iris dataset
iris = datasets.load_iris()
iris_df = pd.DataFrame(iris.data)
iris_df.columns = ["SEPAL_LENGTH", "SEPAL_WIDTH", "PETAL_LENGTH", "PETAL_WIDTH"]
iris_df.loc[150] = [np.NaN, np.NaN, np.NaN, np.NaN] # adding a row of null values
iris_df.loc[151]= [np.NaN, np.NaN, 0, 5.5] # adding a row with some null values
iris_df.loc[152]= [np.NaN, np.NaN, 0, 5.5] # adding a row with some null values
iris_df.loc[153] = [np.NaN, np.NaN, np.NaN, 5.6] # adding a row of null values
iris_df["TEST"] = np.nan # adding column of nan's to remove

iris_df.tail()

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH  TEST
149  5.9           3.0          5.1           1.8         NaN
150 NaN           NaN          NaN           NaN          NaN
151 NaN           NaN           0.0           5.5         NaN
152 NaN           NaN           0.0           5.5         NaN
153 NaN           NaN          NaN            5.6         NaN

In [91]:
iris_df.dropna(thresh=3, axis=0).tail()

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH  TEST
145  6.7           3.0          5.2           2.3         NaN
146  6.3           2.5          5.0           1.9         NaN
147  6.5           3.0          5.2           2.0         NaN
148  6.2           3.4          5.4           2.3         NaN
149  5.9           3.0          5.1           1.8         NaN

In [66]:
iris_df = iris_df.drop("TEST", axis=1)

In [69]:
iris_df = iris_df.dropna(thresh=2, axis=0)

In [101]:
iris_df["SEPAL_LENGTH"]= iris_df.SEPAL_LENGTH.fillna(iris_df["SEPAL_LENGTH"].mean())

In [102]:
iris_df.SEPAL_LENGTH.fillna(iris_df["SEPAL_LENGTH"].mean(), inplace=True)

   SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH  TEST
0  5.1           3.5          1.4           0.2         NaN
1  4.9           3.0          1.4           0.2         NaN
2  4.7           3.2          1.3           0.2         NaN
3  4.6           3.1          1.5           0.2         NaN
4  5.0           3.6          1.4           0.2         NaN

In [104]:
sep_mean = iris_df.SEPAL_LENGTH.mean()

In [105]:
sep_length

5.8433333333333355

In [ ]:
iris_df.SEPAL_LENGTH.fillna(sep_mean)